$dark-green: #004400;
$dark-red: #550000;
$dark-brown: #552700;
$medium-blue: #0D4D4D;
$dark-grey: #222;
$medium-grey: #404040;

body {
  background-color: $medium-blue;
}

#calculator {
  text-align: center;
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 350px;
  height: 500px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  grid-template-areas: 
    "display display display   display"
    "power   clear   backspace divide"
    "seven   eight   nine      multiply"
    "four    five    six       subtract"
    "one     two     three     add"
    "zero    sign    decimal   equals"
  ;
}

@media screen and (max-width: 740px) {
  #calculator {
    margin: 0 auto;
    width: 99vw;
    height: 99vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "display display display display  display"
      "seven   eight   nine    divide   power"
      "four    five    six     multiply backspace"
      "one     two     three   subtract clear"
      "zero    sign    decimal add      equals"
    ;
  }
}

@media screen and (max-width: 450px) {
  body {
    background-color: black;
  }
  #calculator {
    width: 98%;
    height: 98vh;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    grid-template-areas: 
      "display display display   display"
      "power   clear   backspace divide"
      "seven   eight   nine      multiply"
      "four    five    six       subtract"
      "one     two     three     add"
      "zero    sign    decimal   equals"
    ;
  }
}

#display-container {
  grid-area: display;
  border: 1px solid black;
  background-color: $dark-grey;
  margin: 1% 0 2% 0;
  color: #eee;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  overflow-y: auto;
  #calculation {
    font-size: 1.2em;
    margin: 1% 3%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  #display {
    font-size: 1.9em;
    margin: 1% 3%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
}

.button{
  color: #eee;
  font-size: 1.3em;
  padding: 4%;
  font-family: Inconsolata, sans-serif;
  border: none;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

.number, .sign, .decimal {
  background-color: $dark-grey;
  &:focus {
    border: 1px solid lighten($dark-grey, 10%);
  }
  &:active {
    background-color: darken($dark-grey, 3%);
  }
}

.operator {
  background-color: $medium-grey;
  &:focus {
    border: 1px solid lighten($medium-grey, 10%);
  }
  &:active {
    background-color: darken($medium-grey, 3%);
  }
}

.equals {
  background-color: $dark-green;
  &:focus {
    border: 1px solid lighten($dark-green, 8%);
  }
  &:active {
    background-color: darken($dark-green, 3%);
  }
}

.power {
  background-color: $dark-brown;
  &:focus {
    border: 1px solid lighten($dark-brown, 8%);
  }
  &:active {
    background-color: darken($dark-brown, 3%);
  }
}

.clear, .backspace {
  background-color: $dark-red;
  &:focus {
    border: 1px solid lighten($dark-red, 8%);
  }
  &:active {
    background-color: darken($dark-red, 3%);
  }
}




